.container {
  display: flex;
  gap: 20px;
  border: 1px solid #d9d9d9;

  img {
    height: 220px;
  }
}

.card-content {
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.links {
  align-self: flex-end;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genres,
.rep {
  display: flex;
  gap: 2px;
  font-size: 12px;
  align-items: center;
}

.character {
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.cover {
  height: 200px;
}
