.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 10px;

  h3 {
    display: flex;
    justify-content: space-between;
  }
}

.book-container {
  display: flex;
  gap: 20px;
  padding: 1rem;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 8px;

  img {
    height: 300px;
    width: 200px;
    object-fit: cover;
  }
}

.book-content {
  display: flex;
  width: 100%;
}

.character-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.card-content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links {
  margin-top: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genres,
.rep {
  display: flex;
  gap: 2px;
  font-size: 12px;
  align-items: center;
}

.result {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
