.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.content-header {
  margin-bottom: 20px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
